<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MoneyTracker_pokusaj_3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MoneyTracker_pokusaj_3.Properties.Settings.Money_Tracker_dbConnectionString"
            connectionString="Data Source=.;Initial Catalog=&quot;Money Tracker db&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MoneyTracker_pokusaj_3.Properties.Settings.pokusaj3_moneyTrackerConnectionString"
            connectionString="Data Source=.;Initial Catalog=pokusaj3_moneyTracker;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MoneyTracker_pokusaj_3.Properties.Settings.db_MTConnectionString"
            connectionString="Data Source=.;Initial Catalog=db_MT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MoneyTracker_pokusaj_3.Properties.Settings>
            <setting name="password" serializeAs="String">
                <value>123456</value>
            </setting>
        </MoneyTracker_pokusaj_3.Properties.Settings>
    </userSettings>
</configuration>